
@media all and (min-width: 480px) {
  .ResetPassword {
    padding: 60px 0;
  }

  .ResetPassword form {
    margin: 0 auto;
    max-width: 320px;
  }

  .ResetPassword .success {
    max-width: 400px;
  }
}

.ResetPassword .success {
  margin: 0 auto;
  text-align: center;
}

.ResetPassword .success .glyphicon {
  color: grey;
  font-size: 30px;
  margin-bottom: 30px;
}

.ResetPassword form {
  display: flex;
  flex-direction: column;
}

.ResetPassword form div {
  padding: 10px 0;
}

.ResetPassword form button {
  background-color: #0d6efd;
  color: white;
  margin-top: 20px;
}

.ResetPassword form label {
  margin-bottom: 10px;
}


